In [10]:
import pandas as pd
import numpy as np

In [11]:
datos = np.random.randint(5, 21, (20, 4))
print(datos)
print("=======")
print(datos[2])

[[ 5 16 10 14]
 [ 6  9 16 15]
 [16 18 20 14]
 [ 9  8  6 15]
 [18 14 17 20]
 [19  6 17  5]
 [ 9  8 17 12]
 [ 7  5 15 17]
 [15  9 13 15]
 [12 10 13 11]
 [15 18 12  8]
 [ 8 11 12 11]
 [ 9 18 16  9]
 [20 17 14 15]
 [ 6  6 15 10]
 [ 8  5  6 18]
 [18 18 19 12]
 [18  5  6  8]
 [15  7 19 11]
 [19 10 15  8]]
=======
[16 18 20 14]

In [7]:
# df = pd.DataFrame(datos, 
#                   columns=['NOTA1','NOTA2','NOTA3','NOTA4'], 
#                   index=['Alumno'+str(x) for x in range(1,21)])
df = pd.DataFrame(datos, 
                  columns=['NOTA1','NOTA2','NOTA3','NOTA4'], 
                  index=[str(x) for x in range(1,21)])
df.head(len(df))

    NOTA1  NOTA2  NOTA3  NOTA4
1       9      5     18     17
2      19      8     15     12
3       6     16     11     19
4      12      5     11     19
5      14      8     13      8
6      15      6     15     18
7      10      7     13      8
8      10     15      8     15
9      17      9      7     13
10     17      8     16      7
11      6     16      8     10
12     18     17      5     11
13      6     10      7     19
14     17      9      7     12
15      5     13      8     18
16      6     20     16     10
17     15     13     11      8
18     16      5     13      5
19     15     12     11      9
20     10      9     10     16

In [14]:
import json
with open("covid_data.json", encoding="utf-8") as file:
    data = json.load(file)
df = pd.DataFrame.from_dict(data['Peru'])
df.head()

   confirmed       date  deaths  recovered
0          0  2020-1-22       0          0
1          0  2020-1-23       0          0
2          0  2020-1-24       0          0
3          0  2020-1-25       0          0
4          0  2020-1-26       0          0

In [15]:
df.index = pd.DatetimeIndex()

ValueError: Must provide freq argument if no data is supplied

In [1]:
df.to_csv("covid_data.csv", index=False)

NameError: name 'df' is not defined

10